/******************** Section css ********************/
section input[type="text"], section input[type="password"] {
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
    margin: 4px 0 0;
    padding: 5px;
    width: 80%;
}
section a {
    color: #e55a21;
    text-decoration: none;
}
section a:hover {
    color: #000;
}