/******************** Section css ********************/
h2 {
    font-size: 1.4em;
    font-weight: bold;
}
section p {
    line-height: 1.4em;
    /* margin: 0 0 20px 0; */
}
section label {
    font-weight: normal;
    margin-bottom: 0px;
}
section input[type="text"], section input[type="password"] {
    background-color: #f2f2f2;
    border: 1px solid #e0e0e0;
    color: #6b6969;
    display: block;
    margin: 4px 0 0;
    padding: 5px;
    width: 400px;
    max-width: 100%;
}
input[type="submit"]:hover {
    background-color: #1d1d1d;
}
.row .col-md-6 {
    margin-top:10px;
    width: 50%;
}
section a {
    color: #e55a21;
    text-decoration: none;
}
section a:hover {
    color: #000;
}